.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}

.main {
  min-height: 100vh;
}

.logo {
  font-size: 2rem;
  margin: 0;
}

.title {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.title a {
  color:  blue;
  text-decoration: underline;
}